:root {
  --logo-button-contact-color: #2196f3;
  --p-color-index: #757575;
  --text-color: #212121;
  --text-color-button-hover: #ffffff;
  --background-color-button: #f5f4fa;
  --section-slogan-color: #c4c4c4;
  --fon: #f5f5f5;
  --color-futer: rgba(255, 255, 255, 0.6);
  --comand-soc-icon: #AFB1B8;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--text-color-button-hover);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Хедер */
.header {
  border-bottom: 1px solid #ececec;
}
header .container {
  display: flex;
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
}
.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-button-contact-color);
}
.logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--text-color);
}
.header-list-nav {
  display: flex;
  margin-left: 93px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-list-nav .nav-list-item + .nav-list-item {
  margin-left: 50px;
}
.header-list-contact {
  display: flex;
  margin-left: auto;
}

.header-list-contact li + li {
  margin-left: 50px;
}
.nav-list,
.email,
.contact-phone-number {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.14;
}
.email,
.contact-phone-number {
  color: var(--p-color-index);
}
.nav-list {
  color: var(--text-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
ul {
  list-style-type: none;
}
/* Головна сторінка*/

/* Секція №1 */

.section-slogan {
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
}

.slogan {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--text-color-button-hover);
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}

.studio-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--logo-button-contact-color);
  cursor: pointer;
  color: var(--text-color-button-hover);
  margin-top: 30px;
  padding: 10px 32px;
  border: none;
}

.hero {
  width: 1600px;
  background-color: var(--section-slogan-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/herou.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}
/* Секція №2 */

.qualities-list {
  display: flex;
  gap: 30px;
}

.qualities-item {
  width: 270px;
}

.qualities-titles {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.qualities-text {
  line-height: 1.71;
  color: var(--p-color-index);
}

/* Секція №3 */

.work {
  padding-top: 0px;
}

.work-list {
  display: flex;
  gap: 30px;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

/* Секція №4 */

.command {
  background-color: var(--background-color-button);
}

.command-member {
  display: flex;
  gap: 30px;
}

.member {
  background-color: var(--text-color-button-hover);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.command-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 30px;
  margin-bottom: 10px;
}

.command-position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--p-color-index);
  margin-bottom: 16px;
}

/* Соцмережі команди */

.comand-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.comand-soc-item {
  width: 44px;
  height: 44px;
}
.comand-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comand-soc-link:hover {
  background-color: #2196F3;
}
.comand-soc-link:hover .comand-soc-icon {
  fill: #ffffff;
}
.comand-soc-icon, .clients-logo {
  fill: var(--comand-soc-icon);
}

/* Клієнти */

.clients-lict {
  display: flex;
  gap: 30px;
}

.clients-item {
  width: calc((100% - 150px) / 6);
  height: 92px;
}

.clients-link {
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
border-radius: 4px;
display: flex;
  align-items: center;
  justify-content: center;
}

.clients-link:hover {
  border: 1px solid #2196F3;
}

.clients-link:hover .clients-logo {
  fill: #2196F3;
}

/* Портфоліо */

/* Кнопки портфоліо*/

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-list .button-item + .button-item {
  margin-left: 8px;
}

.portfolio-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--background-color-button);
  padding: 6px 25px;
  border: none;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* Активна кнопка порфоліо */

.portfolio-button-all {
  background-color: var(--logo-button-contact-color);
  color: var(--text-color-button-hover);
}

/* Проекти портфоліо*/

.project-item {
  background-color: var(--text-color-button-hover);
  width: calc((100% - 60px) / 3);
}

.project-name-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.project-name {
  font-size: 18px;
  line-height: 2;
  color: var(--text-color);
}

.project-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--p-color-index);
  margin-top: 4px;
}

/* Футер */

.footer {
  background-color: var(--section-slogan-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  font-style: normal;
  margin-top: 20px;
}

/* Логотип футера*/

.logo-web-futer,
.logo-studio-futer {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-studio-futer {
  color: var(--text-color-button-hover);
}

.logo-web-futer {
  color: var(--logo-button-contact-color);
}

/* Контакти */

.address li + li {
  margin-top: 9px;
}

.map,
.contact-phone-number-futer,
.email-futer {
  line-height: 1.71;
  color: var(--color-futer);
}

.map {
  color: var(--text-color-button-hover);
}

/* Фокус в хедері, футері, кнопках */

.contact-phone-number:hover,
.contact-phone-number:focus,
.email:hover,
.email:focus,
.nav-list:hover,
.nav-list:focus,
.contact-phone-number-futer:hover,
.email-futer:hover,
.contact-phone-number-futer:focus,
.email-futer:focus {
  color: var(--logo-button-contact-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--logo-button-contact-color);
  color: var(--text-color-button-hover);
}

/* Активна сторінка навігації */

.list-activ {
  color: var(--logo-button-contact-color);
}
